<h1 class="ui centered header"><%= " #{current_user.full_name} #{@board.name}" %></h1>
<div class="ui centered card">
  <div class="image">
     <img src="https://picsum.photos/200/<%= @board.image %>?random=2"/>
    </div>
    <div class="content">
      <p class=" centered header">
      <%= @board.name %> 
    </p>
</div>
</div>

<div class="ui divider"></div>

<h2><%= @board.lists.length <= 0 ? "No lists" : "" %></h2> 
<div class="ui card">
  <div class="content">
  <% @board.lists.each do |list| %>
    <p class="header">
    <%= list.name %>
    </p>
  </div>
  <% end %>

  

    


  <div class="extra content">
    <%= link_to 'Edit', edit_board_path(@board) %> |
    <%= link_to 'Back', boards_path %> |
    <%= link_to 'View Lists', board_lists_path(@board) %>
  </div>
</div>


 

  